<div class="row justify-between navbar">
  <div class="row items-center">
    <a routerLink="/" class="menu-logo">Dashboard LoL</a>
    <a routerLink="/see-team" class="menu-item"><p>Voir mon équipe</p></a>
    <a routerLink="/manage-team" class="menu-item"><p>Gérer mon équipe</p></a>
    <a routerLink="/fight" class="menu-item">Combattre</a>
  </div>
  <div class="row flex items-center">
    <a routerLink="/login" class="menu-item">Se connecter</a>
    <a routerLink="/sign-up" class="menu-item">S'inscrire</a>
    <a routerLink="/edit-profile" class="menu-item"><p>Username</p></a>
    <p class="menu-item">Log out</p>
  </div>
</div>
