<section class="manage-team-section col items-center">

  <h2>Choix des personnages !</h2>

  <article class="manage-team-article">
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>

    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
    <app-character></app-character>
  </article>

  <a routerLink="/manage-team" class="mt-5"><button>Voir mon équipe</button></a>

</section>
